body {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container {
    width: 1170px;
    margin: 0 auto;
    @media(max-width:1500px){
        width: 90%;
        margin: 0 auto;
    }
    @media(max-width:826px){
        width: 90%;
        margin: 0 auto;
    }
}

$font-text: 'Raleway', serif;

@import "blocks/header.scss";
@import "blocks/favorite.scss";
@import "blocks/blockitems.scss";