$font-text: 'Raleway', serif;
body {
    margin: 0;
    padding: 0;
    font-family: $font-text;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container {
    width: 1170px;
    margin: 0 auto;
    @media(max-width:1510px){
        width: 90%;
        margin: 0 auto;
    }
    @media(max-width:1190px){
        width: 90%;
        margin: 0 auto;
    }
    @media(max-width:1024px){
        width: 984px;
        margin: 0 auto;
    }
}

@import "blocks/header.scss";
@import "blocks/favorite.scss";
@import "blocks/blockitems.scss";
@import "blocks/portfolio.scss";
@import "blocks/blockteam.scss";
@import "blocks/slider.scss";
@import "blocks/footer.scss";
@import "blocks/navigation.scss";