.block-items {
    max-width: 1510px;
    margin: 115px auto 0 auto;

    @media(max-width:1024px) {
        margin-top: 98px;
    }
}

.block-items__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    @media(max-width:1024px) {
        gap: 20px;
    }
}

.list__item {
    max-width: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-pos {
        margin-top: 53px;

        @media(max-width:1024px) {
            margin-top: 30px;
        }
    }

    @media(max-width:1024px) {
        max-width: 315px;
    }

}

.item__title {
    position: relative;

    font-style: normal;
    font-weight: 900;
    font-size: 24px;

    line-height: 28px;

    text-align: center;
    text-transform: uppercase;

    color: #2D3033;

    margin-top: 52px;

    @media(max-width:1024px) {
        font-size: 18px;
        line-height: 21px;
        margin-top: 45px;
    }

}




.item__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    line-height: 21px;
    display: flex;
    align-items: center;

    text-align: center;

    color: #6C7279;

    margin-top: 45px;

    @media(max-width:1024px) {
        font-size: 14px;
        line-height: 16px;
        margin-top: 25px;
    }
}

.position-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width:1024px) {
        width: 85px;
        height: 84px;
    }
}

.block-item__icon-svg {
    @media(max-width:1024px) {
        width: 65px;
        height: 64px;
    }

}