.bg__container {
    background: linear-gradient(#252b49bb, #252b49bb), url(../img/bannerbg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: inherit;
    min-height: 747px;
    @media(min-width: 1511px){
        background-size: cover;
    }
    @media (max-width:1024px) {
        background: linear-gradient(#252b49bb, #252b49bb), url(../img/imgtab.png);
        
    }
    @media(max-width:320px){
        background: linear-gradient(#252b49bb, #252b49bb), url(../img/imgmob.png);
    background-repeat: no-repeat;}
}

.container__favorite-block {
    padding-top: 157px;
    max-width: 1000px;
    margin: 0 auto;
}

.favorite-block__title {
    font-family: $font-text;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.favorite-block__text {
    font-family: $font-text;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    line-height: 21px;

    display: flex;
    align-items: center;

    text-align: center;

    color: #FFFFFF;

    padding-top: 62px;
    margin: 0 114px;
}

.favorite-block__button {
    background-color: #FF4343;

    display: block;

    margin: 80px auto 0 auto;
    
    min-width: 369px;
    min-height: 77px;

    border: none;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;

    line-height: 28px;

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
&:hover{
    background-color: #E71414;
    transition: background-color 1s;
}
&:active{
    box-shadow: 4px 4px 30px #FF4343;
}
}