.activbox__navigation {
    margin-top: 114px;
    padding-bottom: 67px;
}

.navigation__items {
    display: flex;
    justify-content: space-between;
    padding-top: 71px;
}
.items__item{
    width: 370px;
}
.navigation-item__title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.navigation-item__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;

    margin-top: 30px;
 
    color: #FFFFFF;
}
.bg-activbox__navigation{
    background-color: #353C65;
}
.navigation__items-pos{
    gap: 26px;
    margin-top: 47px;
    padding: 0px;
    display: flex;
    justify-content: center;
}